<div class="slidein" style="margin-top: 6rem; width: 100%;">
    <div class="float-child" style="width: 33%;  background: #eff6f9; height: 505px;">
        <div class="inbox-message" style="text-align:center" >
            <ul>
                <li style="border-bottom: 0px; border-right: 1px solid #e8eef1">
                    <a>
                        <div class="message-body" style="margin-left: 0px; ">
                            <div class="message-body-heading">
                                <h1 style="margin-top: 10px;">Our Address</h1>
                                <!-- <h4 style="margin-top: 50px;"></h4> -->
                            </div>
                            <h6>APARD , 76/97-S-I-65, Nagendra Nagar,</h6>
                            <h6 >Revenue Ward No.76,</h6>
                            <h6 >KURNOOL,Kurnool District -  Andhra Pradesh  518003, India</h6>
                            <a href="tel:9000571365 "><h6><b>Phone:</b>+91 9000571365 </h6></a>
                            <a href="mailto:apardngo@gmail.com "><h6><b>Email:</b>apardngo@gmail.com </h6></a>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15354.304288235277!2d78.0003987283395!3d15.826291824501324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb5e0ac2a3d0c01%3A0x6a8e64115cc7e373!2sNehru%20Auto%20Nagar%2C%20Kurnool%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1651632321223!5m2!1sen!2sin" width="100%" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    

    <div class="float-child" style="width: 33%; height: 505px;">
        <div class="inbox-message" style="text-align:center" >
            <ul>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5 style="text-align: center;" >Registered</h5>
                                <div><span style="float:none">APARD is registered under AP Societies Registration Act.</span></div>
                                <div><span style="float:none">We are also registered under Income Tax Department.  All the donations to APARD will provide incentives to individuals involved in philanthropic activities. </span></div>
                                <div><span style="float:none">12A and 80G offer Tax Deductions on donations made to certain funds or charities.</span></div>
                            
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5> Union Bank of India Account:</h5>
                                <div><span style="float:none; ">Your contributions can be sent to: </span></div>
                                <div><span style="float:none; "><b>Account Name : </b>Awakening Peoples Action For Rural Development</span></div>
                                <div><span style="float:none; "><b>Account No: </b>005310011070644</span></div>
                                <div><span style="float:none; "><b>Account Type: </b>SB Account</span></div>
                                <div><span style="float:none; "><b>Branch		:</b> Budhavarpet, Kurnool</span></div>
                                <div><span style="float:none; "><b>IFSC : </b>UBIN0800538</span></div>
                            </div>
                            <div class="message-body-heading">
                                <h5>Andhra Pragathi Grameena Bank Account:</h5>
                                <div><span style="float:none; ">Your contributions can be sent to:</span></div>
                                <div><span style="float:none; "><b>Account Name : </b>Awakening Peoples Action For Rural Development</span></div>
                                <div><span style="float:none; "><b>Account No: </b>19016507934</span></div>
                                <div><span style="float:none; "><b>Account Type: </b>SB Account</span></div>
                                <div><span style="float:none; "><b>Branch		: </b> Venkata Ramana Colony, Kurnool</span></div>
                                <div><span style="float:none; "><b>IFSC : </b>APGB0003162</span></div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="float-child" style="width: 33%;  background: #eff6f9; height: 505px;">
        <div class="inbox-message" style="text-align:center" >
            <ul>
                <li style="border-bottom: 0px; border-right: 1px solid #e8eef1">
                    <a>
                        <div class="message-body" style="margin-left: 0px;">
                            <div class="message-body-heading">
                                <h5>Acknowledgement</h5>
                                <div><span style="float:none; ">All the donors will be shared with a report, with due acknowledgement, for which they have made their contributions.  They can also access our time-to-time activity reports on our website</span></div>
                                </div> 
                                <!-- <h5>Our UPI</h5> -->
                                <!-- <img src="UPI.png" style="width: 60%;"> -->
                                <div class="message-body-heading">
                                    <h5>FCRA Bank Account:</h5>
                                    <div><span style="float:none; ">Your contributions can be sent to:</span></div>
                                    <div><span style="float:none; "><b>Account Name : </b>Awakening Peoples Action For Rural Development</span></div>
                                    <div><span style="float:none; "><b>Account No: </b>40393555842</span></div>
                                    <div><span style="float:none; "><b>Account Type: </b> Current Account</span></div>
                                    <div><span style="float:none; "><b>Bank: </b> STATE BANK OF INDIA</span></div>
                                    <div><span style="float:none; "><b>Branch		:</b> 11Sansad Marg, New Delhi 110 001</span></div>
                                    <div><span style="float:none; "><b>IFSC : </b>SBIN0000691</span></div>
                                    <div><span style="float:none; "><b>SWIFT : </b>SBININBB104</span></div>
                                </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>
